<div class="container">
  <h1 class="page-title">Posts Archivés</h1>
  <div class="search-form">
    <div class="input-group">
      <span class="input-icon"><i class="fas fa-search fa-lg"></i></span>
      <input type="text" [(ngModel)]="searchCriteria.name" placeholder="Search by Name">
    </div>
    <div class="input-group">
      <span class="input-icon"><i class="fas fa-map-marker-alt fa-lg"></i></span>
      <input type="text" [(ngModel)]="searchCriteria.category" placeholder="Search by Category">
    </div>
    <button (click)="searchPosts()">Search</button>
  </div>
  
  <div class="post-list">
    <mat-card class="post-card" *ngFor="let archivedPost of archivedPosts">
      <div class="post-details">
        <a [routerLink]="['/post', archivedPost.id]">
          <div class="post-image">
            <img [src]="archivedPost.processedImg" alt="post-image">
          </div>
        </a>
        <div class="post-info">
          <h2 class="post-name">{{archivedPost.name}}</h2>
          <mat-divider></mat-divider>
          <div class="post-meta">
            <div class="info-row">
              <span class="info-label">Posté par:</span>
              <span class="info-value">{{archivedPost.postedBy}}</span>
            </div>
            <div class="info-row">
              <span class="info-label">Type:</span>
              <span class="info-value">{{ archivedPost.typeName }}</span>
            </div>
            <div class="info-row">
              <span class="info-label">Category:</span>
              <span class="info-value">{{ archivedPost.categoryName }}</span>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
